.Navigation {
  background-color: rgba(88, 125, 180, 0.808);
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}
.navbar-brand{
  color: black;
}
.nav-link{
  color: black;
}
.nav-link.active {
  font-weight: bold;
  color: brown;
}